/Debug
/H503.jdebug.user
/H503.kicad/H503-backups
/H503.kicad/fp-info-cache
*.bak
/H503.kicad/H503.xml
/Core/Src/thread.cpp.o
/H503-edu.jdebug.user
/Core/Inc/test.cpp
/H503-0.1.oshpark/fp-info-cache
/H503-0.1.oshpark/H503-backups
/_image.img
